<template>
  <div class="button-navbar">
    <!-- <span @click="open = !open">
      {{ open ? 'Close' : 'View' }} Links
    </span>
    <div class="navbar-drawer" :class="{ isOpen: open }">
      <nuxt-link
        v-for="link of links"
        :key="link.name"
        :to="link.to"
        exact
        v-text="link.name"
      />
    </div> -->
    <button class="primary button" style="alignment:center; color:#E6FFFA">Registrieren</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      open: false
    }
  },
  watch: {
    '$route.name' () {
      this.open = false
    }
  }
}
</script>


<style scoped>
.button-navbar {
    margin-top: 70px;
    margin-left: 20px;
    width: 360px;
    height: 128px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -1px 3px #00000033;
    border-radius: 12px 12px 0px 0px;
    opacity: 1;
    position: fixed;
}
.button-navbar button{
    /* top: 580px; */
    left: 40px;
    width: 320px;
    height: 40px;
    /* UI Properties */
    background: transparent linear-gradient(95deg, #319795 0%, #3182CE 100%) 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    border : 0px;
    margin: 20px;
} 
.navbar-drawer {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  width: 250px;
  top: 100%;
  left: -500px;
  padding: 0 10px 20px;
  background: #333333;
  text-align: center;
  transition: left 0.35s;
}
.isOpen {
  left: 0;
}
/* span, a {
  padding: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;
} */
span:hover, a:hover {
  background: white;
  color: #333333;
}
a.nuxt-link-active {
  cursor: default;
  background: #41B883;
  color: #333333;
}
</style>
