<template>
    <div class="contentvar">
        <p>Deine Job website</p>
        <div class="image" :style="{ backgroundImage: `url(${image})`}">
        </div>
    </div>
</template>

<script>
import bikeImg from "assets/image/11.png";
export default {
  data() {
    return {
      image: bikeImg,
    };
  }
};
</script>
<style scoped>
.contentvar .image {
    margin-top: 20px;
    margin-left: -12px;
    width: 100%;
    height: 405px;
    /* background-size: 100%; */
    /* UI Properties */
    opacity: 1;
    top: 0px;
    left: -137.22900390625px;
    /* UI Properties */
}
.contentvar p{
    margin-top: 90px;
    margin-left: 20px;
    width: 320px;
    height: 100px;
    text-align: center;
    font-size:42px;
    letter-spacing: 1.26px;
    color: #2D3748;
    opacity: 1;
}
</style>