<template>
    <div class="forth-text">3. 
        <p>Wähle deinen neuen Mitarbeiter aus</p>
        <div v-if="isValid == 1" class="image" :style="{ backgroundImage: `url(${image1})`}"></div>
        <div v-if="isValid == 2" class="image" :style="{ backgroundImage: `url(${image2})`}"></div>
        <div v-if="isValid == 3" class="image" :style="{ backgroundImage: `url(${image3})`}"></div>
    </div>
</template>
<script>
import bikeImg1 from "assets/image/10.png";
import bikeImg2 from "assets/image/5.png";
import bikeImg3 from "assets/image/7.png";
export default {
  data() {
    return {
      image1: bikeImg1,
      image2: bikeImg2,
      image3: bikeImg3,
    };
  },
  computed: {
    isValid() {
      return this.$store.state.option;
    }
  }
};
</script>
<style scoped>
.forth-text {
    top: 1410px;
    margin-left: 54px;
    width: 106px;
    height: 600px;
    text-align: center;
    font-size:156px;
    color: #718096;
    letter-spacing: 0px;
}
.forth-text p {
    margin-top: -80px;
    margin-left: 122px;
    width: 156px;
    height: 38px;
    text-align: left;
    font-size:16px;
    letter-spacing: 0.47px;
    color: #718096;
    opacity: 1;
}
.forth-text .image {
    margin-top:50px;
    margin-left: 20px;
    width: 259px;
    height: 179px;
    opacity: 1;
}
</style>