<template>
  <div class="navbar">
    <!-- <span @click="open = !open">
      {{ open ? 'Close' : 'View' }} Links
    </span>
    <div class="navbar-drawer" :class="{ isOpen: open }">
      <nuxt-link
        v-for="link of links"
        :key="link.name"
        :to="link.to"
        exact
        v-text="link.name"
      />
    </div> -->
    <a class="login">
      Login
    </a>
  </div>
</template>

<script>
export default {
  data () {
    return {
      open: false,
      links: [
        { to: '/', name: 'Home' },
        { to: '/about', name: 'About' },
        { to: '/products', name: 'Products' },
        { to: '/products/view', name: 'Products/View' },
        { to: '/about/ben-jones', name: 'Nested About' },
        { to: '/products/edit/64', name: 'Edit Product By Route Param' },
        { to: '/categories/2/products/3', name: 'Complex Route' },
        { to: '/categories/2/products/someproduct', name: 'Invalid Route Param' },
        { to: '/products/view', name: 'Vuex Store Example' },
        { to: '/admin', name: 'Admin Layout' },
        { to: '/plugin', name: 'Vue-Notifications Plugin' },
        { to: '/products/view-async', name: 'Async Fetch Example' }
      ]
    }
  },
  watch: {
    '$route.name' () {
      this.open = false
    }
  }
}
</script>


<style scoped>
.navbar {
  top: 5px;
  margin-left: 20px;
  width: 360px;
  height: 67px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 0px 0px 12px 12px;
  opacity: 1;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  position: fixed;
}
.navbar .login {
  display: flex;
  font: normal normal 600 14px/17px Lato;
  letter-spacing: 0.84px;
  color: #319795;
  opacity: 1;
  padding-right: 19px;
}

.navbar .login:hover {
  text-decoration: underline;
}
.navbar-drawer {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  width: 250px;
  top: 100%;
  left: -500px;
  padding: 0 10px 20px;
  background: #333333;
  text-align: center;
  transition: left 0.35s;
}
.isOpen {
  left: 0;
}
/* span, a {
  padding: 10px;
  color: white;
  cursor: pointer;
  text-decoration: none;
} */
span:hover, a:hover {
  background: white;
  color: #333333;
}
a.nuxt-link-active {
  cursor: default;
  background: #41B883;
  color: #333333;
}
</style>
