<template>
    <div class="second-text">
        <p v-if="isValid != 2 && isValid != 3">Drei einfache Schritte zu deinem neuen Job</p>
        <p v-if="isValid == 2">Drei einfache Schritte zu deinem neuen Mitarbeiter</p>
        <p v-if="isValid == 3">Drei einfache Schritte zur Vermittlung neuer Mitarbeiter</p>
        <div class="image" :style="{ backgroundImage: `url(${image})`}"></div>
        <div>1. <p>Erstellen dein Lebenslauf</p></div>
    </div>
</template>
<script>
import bikeImg from "assets/image/2.png";
export default {
  data() {
    return {
      image: bikeImg,
    };
  },
  computed: {
    isValid() {
      return this.$store.state.option;
    }
  }
};
</script>
<style scoped>
.second-text p {
    margin-top: 50px;
    margin-left: 50px;
    width: 280px;
    height: 50px;
    text-align: center;
    /* font: normal normal medium 21px/25px Lato; */
    font-size: 26px;
    letter-spacing: 0px;
    color: #4A5568;
    opacity: 1;
}
.second-text .image {
    margin-top: 50px;
    margin-left: 100px;
    width: 220px;
    height: 145px;
    /* UI Properties */
    /* background: transparent url('img/undraw_Profile_data_re_v81r.png') 0% 0% no-repeat padding-box; */
    opacity: 1;
}
.second-text div {
    margin-top: -100px;
    margin-left: 10px;
    width: 106px;
    height: 156px;
    /* UI Properties */
    text-align: center;
    font-size: 156px;
    letter-spacing: 0px;
    color: #718096;
    opacity: 1;
}
.second-text div p {
    margin-top: -60px;
    margin-left: 137px;
    width: 250px;
    height: 19px;
    text-align: left;
    font-size:16px;
    letter-spacing: 0.47px;
    color: #718096;
    opacity: 1;
}
</style>
