<template>
    <segmented-control
        :options="options"
        label="label"
        value="value"
        :multiple="false"
        @select="onSelect"
    />
</template>
<script>
import SegmentedControl from 'vue-segmented-control'
export default {
    components: {
        SegmentedControl
    },
    data () {
        return {
            options: [
                { label: 'Arbeitnehmer', value: 'red' },
                { label: 'Arbeitgeber', value: 'blue' },
                { label: 'Temporärbüro', value: 'green' }
            ]
        }
    },
    methods: {
        onSelect(optionsSelected) {
            optionSelected: [{ label: 'Arbeitnehmer', value: 'Arbeitnehmer'}]
        }
    }
}
</script>
<style scoped>
.segmented-control {
    margin-top: 200px;
    left: 220px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size:17px;
    letter-spacing: 0.84px;
    color:#81E6D9 !important;
    background-color: #fff !important;
    opacity: 1;
}
</style>