<template>
    <div class="back">
        <div class="third-text">2. <p>Erstellen dein Lebenslauf</p></div>
        <div v-if="isValid == 1" class="image" :style="{ backgroundImage: `url(${image1})`}"></div>
        <div v-if="isValid == 2" class="image" :style="{ backgroundImage: `url(${image2})`}"></div>
        <div v-if="isValid == 3" class="image" :style="{ backgroundImage: `url(${image3})`}"></div>
    </div>
</template>
<script>
import bikeImg1 from "assets/image/9.png";
import bikeImg2 from "assets/image/4.png";
import bikeImg3 from "assets/image/8.png";
export default {
  data() {
    return {
      image1: bikeImg1,
      image2: bikeImg2,
      image3: bikeImg3,
    };
  },
  computed: {
    isValid() {
      return this.$store.state.option;
    }
  }
};
</script>
<style scoped>
.back {
    margin-top:100px;
    left: -63.47837829589844px;
    width: 360;
    height: 370px;
    /* UI Properties */
    background: transparent linear-gradient(134deg, #E6FFFA 0%, #EBF4FF 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}
.back .third-text {
    top: 1115px;
    margin-left: 35px;
    width: 106px;
    height: 156px;
    text-align: center;
    font-size:156px;
    letter-spacing: 0px;
    color: #718096;
    opacity: 1;
}
.back .third-text p {
    margin-top: -60px;
    margin-left: 125px;
    width: 200px;
    height: 19px;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0.47px;
    color: #718096;
    opacity: 1;
}
.back .image {
    margin-top:20px;
    margin-left: 59px;
    width: 259px;
    height: 179px;
    opacity: 1;
}
</style>