<template>
  <div>
    <navbar />
    <!-- <nuxt/> -->
    <first-image />
    <button-navbar />
    <!-- <segment-control /> -->
    <segmented-control
        :options="options"
        label="label"
        value="value"
        :multiple="false"
        @select="onSelect"
    />
    <second-text />
    <third-text />
    <forth-text />
  </div>
</template>
<script>
import SegmentedControl from 'vue-segmented-control'
import Navbar from '~/components/Navbar'
import firstImage from '~/components/first-image'
import buttonNavbar from '~/components/button-Navbar'
import secondText from '~/components/second-text'
import thirdText from '~/components/third-text'
import forthText from '~/components/forth-text'
import { mapMutations } from 'vuex'
export default {
  components: { Navbar, buttonNavbar, firstImage, secondText, thirdText, forthText, SegmentedControl },
  data () {
      return {
          options: [
              { label: 'Arbeitnehmer', value: '1' },
              { label: 'Arbeitgeber', value: '2' },
              { label: 'Temporärbüro', value: '3' }
          ]
      }
  },
  methods: {
      onSelect(optionsSelected) {
          // optionSelected: [{ label: '--', value: '--'}]
          // changeOption(optionsSelected[0].value);
          this.$store.commit('changeOption', optionsSelected[0].value);
      }
  },
  ...mapMutations({
    changeOption: 'changeOption'
  })
}
</script>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
  height:700px;
  width:110%;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
.segmented-control {
    margin-top: 100px;
    left: 220px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size:17px;
    letter-spacing: 0.84px;
    color:#81E6D9 !important;
    background-color: #fff !important;
    opacity: 1;
}
</style>
